body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    background-color: #22162bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 80%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button {
    background-color: #451f55ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #724e91ff;
}

#summary-container {
    width: 80%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#summary {
    font-size: 18px;
    font-weight: bold;
}